
    .navbar {
	margin-bottom: 0;
	padding: 0;
	height: 30%;
	

     }

    #navertical {
    	
        display: none; 
    	background-color: #0E0C0C; 
    	height: 560px;
    	position: relative;
    	z-index: 1;
    	right: 0px;


    }

	#a {
		background-color: lavender;
		 height: 600px;
		 width: 69%;
	     bottom: 0;
	     right: 2px;
	     position: fixed;
	   
	}

	#kartedhurate {
		 width: 100%;
		  background-color: #2DB553; 
		  position: fixed; 
		  bottom: 0;
		  
		 

	} 

	#b {
		width: 31%;
		background-color: lavenderblush;
		height: 600px;
		bottom: 0;
		position: fixed;
		left: 25px;
		
		


	}

	#c {
		width: 28.5%;
		background-color: #FAD8F7;
		left: 42px;	
		height: 70%;
		position: fixed;
		
	}

	#d {
		bottom: 0;
		width: 28.5%;
		height: 15%;
		position: fixed;
		left: 42px;

	}

	#f7 {
		margin-top: 95%;

	}






